.driver-container{
    border: 2px solid black;
    font-size: 1.25rem;
    border-radius: 15px;
    padding: 25px;
    margin: 50px 0;
    background-color: azure;
}
.driver-container-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-custom{
    width: 150px;
}