.driver-container{
    border: 2px solid black;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 15px;
    padding: 25px;
    margin: 50px;
    background-color: azure;
}
.driver-container-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-custom{
    width: 150px;
}


@media (max-device-width: 500px) {
    .driver-container{
        width: 200px;
        font-size: 1rem;
    }
    .driver-col{
        margin: 0 5px;
    }
}