.contact-title, .contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-input {
    width: 500px;
    height: auto;
}

#floatingComments {
    height: 426px;
}

@media (max-device-width: 400px) {
    .contact-input{
        width: 290px;
    }
}