.links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75vh;
}

.anchorBtn{
    background-color: #fff;
    transition: 1s;
}

.anchorBtn:hover{
    background-color: grey;
}

@media (max-device-width: 991px) {
    .navib {
        background-color: #fff;
    }
}

.text-footer{
    color: #fff;
}