:root {
  --main-color: #4382b7;
  --main-color2: #669bc7;
  --secondary-color: #090b34;
  --third-color: #101018;
  --fourthly-color: #4d4d4d;
}

body {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.notHome {
  height: 100vh;
  background-color: var(--main-color2);
}
